
    




      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>تعديل بيانات مستخدم </h4>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>


     <div class="w-100" style="max-width: 800px;">
    <div id="container">
      <form  hx-post="/updateusers"
       method="post"
      hx-swap="innerHTML"
      hx-target="#container">
      <div class="mb-3">
        <label for="id" class="form-label">ID </label>
        <input name ="id" type="text" class="form-control" id="id" placeholder="البريد الإلكتروني" value="{{.ID}}" readonly>
      </div>

        <div class="mb-3">
          <label for="name" class="form-label">الاسم</label>
          <input name ="name" type="text" class="form-control" id="name" placeholder="البريد الإلكتروني" value="{{.Name}}" required>
        </div>

       
        <div class="mb-3">
          <label for="username" class="form-label">اسم المستخدم</label>
          <input name ="username" type="text" class="form-control" id="username" placeholder="البريد الإلكتروني" value="{{.Username}}" required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">البريد الإلكتروني</label>
          <input name ="email" type="text" class="form-control" id="email" placeholder="البريد الإلكتروني" value="{{.Email}}" required>
        </div>
        
        <div class="mb-3">
          <label for="mobile" class="form-label">رقم الجوال</label>
          <input name="mobile" type="text" class="form-control" id="mobile" placeholder="كلمةالمرور" value="{{.Mobile}}" required>
        </div>
       
        
        <button type="submit" class="btn btn-success">تعديل</button>
      </form>
    </div>
</div>
