      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">نظرة عامة</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">مشاركة</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">تصدير</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            هذا الأسبوع
          </button>
        </div>
      </div>


<!-- <div class="card text-white bg-primary mb-3" style="max-width: 18rem;"> -->
  <!-- <div class="card-header">Header</div> -->
  <!-- <div class="card-body"> -->
    <!-- <h5 class="card-title text-center">عدد المصورين المتاحين</h5> -->
    <!-- <p class="card-text fs-4 text-center">5</p> -->
  <!-- </div> -->
<!-- </div> -->
<div class=" d-flex flex-wrap">
<div class="card text-white bg-info m-3" style="max-width: 18rem;">
  <div class="card-header">
<h5>  عدد الصور في الأسبوع الماضي</h5>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title text-center">عدد المصورين المتاحين</h5> -->
    <p class="card-text fs-4 text-center">5</p>
  </div>
</div>

<div class="card text-white bg-success m-3" style="max-width: 18rem;">
  <div class="card-header">
<h5>  عدد الصور في الأسبوع الماضي</h5>
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title text-center">عدد المصورين المتاحين</h5> -->
    <p class="card-text fs-4 text-center">5</p>
  </div>
</div>


</div>
