
<div class="mt-4 d-flex ">

<button class="shadow-sm btn border border-1 shadow-sm bg-white m-3" style="height:150px; width:150px;">قائمة المصورين</button>
<button class="shadow-sm btn border border-1 shadow-sm bg-white m-3" style="height:150px; width:150px;"
hx-get="/regphotographer"
method="get"
hx-swap="innerHTML"
hx-target="#container">
إضافة مصور جديد</button>

<button class="shadow-sm btn border border-1 shadow-sm bg-white m-3" style="height:150px; width:150px;"
hx-get="/regmission"
method="get"
hx-swap="innerHTML"
hx-target="#container">
تسجيل مهمة تصوير </button>
</div>

<div id="container"></div>
