
    
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">تسجيل مستخدم جديد للنظام</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">مشاركة</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">تصدير</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar" class="align-text-bottom"></span>
            هذا الأسبوع
          </button>
        </div>
      </div>

            <div class="w-100" style="max-width: 800px;">
      <form  hx-post="/regsysuser"
       method="post"
      hx-swap="outerHTML"
      hx-target="#message">
        <div class="mb-3">
          <label for="email" class="form-label">الاسم</label>
          <input name ="email"type="text" class="form-control" id="email" placeholder="البريد الإلكتروني" required>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">اسم المستخدم</label>
          <input name ="email"type="text" class="form-control" id="email" placeholder="البريد الإلكتروني" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">البريد الإلكتروني</label>
          <input name ="email"type="text" class="form-control" id="email" placeholder="البريد الإلكتروني" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">كلمة المرور</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="كلمةالمرور" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">إعادة تأكيد كلمة المرور</label>
          <input name="password" type="password" class="form-control" id="password" placeholder="كلمةالمرور" required>
        </div>
        <button type="submit" class="btn btn-success">إضافة</button>
      </form>
    </div>

    <div id="message"></div>
