
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h4>قائمة المستخدمين</h4>
        <div class="btn-toolbar mb-2 mb-md-0">
        </div>
      </div>

<div id="container">
<ol class="list-group list-group-numbered">
{{range .}}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{.Name}}</div>
     {{.Email}}
    <!-- {{.Mobile}} -->

    </div>
    <!-- <span class="badge bg-primary rounded-pill">{{.Mobile.String}}</span> -->


   
<button class="btn btn-primary btn-sm"
  hx-post="/updatesysuser"
  hx-encoding="json"
  hx-headers='{"Content-Type": "application/json"}'
  hx-vals='{
    "name": "{{.Name}}",
    "email": "{{.Email}}",
    "username": "{{.Username}}",
    "mobile": "{{.Mobile.String}}"
  }'
  hx-target="#container"
  hx-ext="json-enc"
  >
  Update User
</button>
        
<!-- <button class="btn btn-primary btn-sm"
        hx-post="/updatesysuser"
        hx-vals='{"name": "احمد مهند احمد",
                  "email": "mohanad.dev@gmail.com",
                  "username": "ahmed@gmail.com",
                  "mobile": "059999999"}'
        hx-target="#container"
        hx-ext="json-enc">
    Update User
</button> -->











  </li>
  {{end}}
</ol>
</div>
