

<div class="mt-4 d-flex ">

<!-- <button class="shadow-sm btn border border-1 shadow-sm bg-white m-3" style="height:150px; width:150px;">قائمة المستخدمين</button> -->


<button class="shadow-sm btn border border-1 shadow-sm bg-white m-3" style="height:150px; width:150px;"
hx-get="/users"
method="get"
hx-swap="innerHTML"
hx-target="#container">
قائمة المستخدمين</button>
<button class="shadow-sm btn border border-1 shadow-sm bg-white m-3" style="height:150px; width:150px;"
hx-get="/reguser"
method="get"
hx-swap="innerHTML"
hx-target="#container">
تسجيل مستخدم جديد</button>

</div>
<div id="container"></div>
